<div class="list-title">房产管理</div>
<div class="list-search">
  <nz-select style="width:200px;" nzShowSearch nzAllowClear nzPlaceHolder="选择项目" [(ngModel)]="selectData['FkId']">
    <nz-option *ngFor="let estateItem of estatelist" [nzLabel]="estateItem['EstateName']" [nzValue]="estateItem['EstateId']"></nz-option>
  </nz-select>
  <div class="input-search">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" [(ngModel)]="selectData['KeyWord']" nz-input placeholder="关键字" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="getlist()"><i nz-icon nzType="search"></i></button>
    </ng-template>
  </div>
  <button nz-button nzType="primary" (click)="add()">新增交房</button>
</div>
<nz-table class="table-list" #headerTable [nzData]="datalist" [nzTotal]="TotalCount" [(nzPageIndex)]="PageIndex"
  [(nzPageSize)]="PageSize" [nzShowSizeChanger]="true" [nzPageSizeOptions]="[10, 15, 20]" [nzLoading]="isLoading"
  [nzBordered]="false" [nzFrontPagination]="false" (nzPageIndexChange)="getlist()" (nzPageSizeChange)="getlist()">
  <thead>
    <tr>
      <th nzAlign="center" nzWidth="50px">序号</th>
      <th nzAlign="center" nzWidth="100px">项目名称</th>
      <th nzAlign="center" nzWidth="80px">房号</th>
      <th nzAlign="center" nzWidth="100px">业主姓名</th>
      <th nzAlign="center" nzWidth="100px">房屋类型</th>
      <th nzAlign="center" nzWidth="100px">户型</th>
      <th nzAlign="center" nzWidth="100px">建筑面积</th>
      <th nzAlign="center" nzWidth="120px">联系电话</th>
      <th nzAlign="center" nzWidth="100px">接房日期</th>
      <th nzAlign="center" nzWidth="120px">物业开始日期</th>
      <th nzAlign="center">备注</th>
      <th nzAlign="center" nzWidth="100px">处理</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of headerTable.data; let no = index;" (dblclick)="edit(no)">
      <td nzAlign="center">{{(PageIndex - 1) * PageSize + no + 1}}</td>
      <td nzAlign="center">{{item['EstateName']}}</td>
      <td nzAlign="center">{{item['HouseNo']}}</td>
      <td nzAlign="center">{{item['OwnerName']}}</td>
      <td nzAlign="center">{{item['HouseType']}}</td>
      <td nzAlign="center">{{item['Model']}}</td>
      <td nzAlign="center">{{item['Floorage']}}</td>
      <td nzAlign="center">{{item['Phone']}}</td>
      <td nzAlign="center">{{item['hand']['HandDate'] | date:'yyyy-MM-dd'}}</td>
      <td nzAlign="center">{{item['hand']['PropertyStartDate'] | date:'yyyy-MM-dd'}}</td>
      <td nzAlign="center">{{item['hand']['Remark']}}</td>
      <td nzAlign="center">
        <a (click)="edit(no)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="delete(item['hand']['HandId'])"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
      </td>
    </tr>
  </tbody>
</nz-table>
