<div [style.max-height]="divHeight" style="overflow-y: auto;">
  <table class="edit-table">
    <tbody>
      <tr>
        <td class="edit-td-title">项目名称</td>
        <td class="edit-td-content">
          <nz-select style="width:100%;" nzPlaceHolder="选择项目" [(ngModel)]="data['EstateId']"
            (ngModelChange)="onEstateChange()">
            <nz-option *ngFor="let estateItem of estateList" [nzLabel]="estateItem['EstateName']"
              [nzValue]="estateItem['EstateId']"></nz-option>
          </nz-select>
        </td>
        <td class="edit-td-title">业主房号</td>
        <td class="edit-td-content">
          <nz-select style="width:100%;" nzShowSearch nzAllowClear [(ngModel)]="data['OwnerId']" nzPlaceHolder="选择房号"
            [nzServerSearch]="true" (nzOnSearch)="onSearch($event)" (ngModelChange)="onOwnerChange()">
            <nz-option *ngFor="let owner of ownerList" [nzValue]="owner['OwnerId']"
              [nzLabel]="owner['HouseNo'] + '(' + owner['CheckInName'] + ')'"></nz-option>
            <nz-option *ngIf="displayTips" nzDisabled nzCustomContent>
              至少输入2个字符搜索
            </nz-option>
          </nz-select>
        </td>
      </tr>
      <tr>
        <td class="edit-td-title">房屋类型</td>
        <td class="edit-td-content">
          <input nz-input placeholder="房屋类型" [(ngModel)]="owner['HouseType']" [disabled]="true" />
        </td>
        <td class="edit-td-title">建筑面积</td>
        <td class="edit-td-content">
          <input nz-input placeholder="建筑面积" [(ngModel)]="owner['Floorage']" [disabled]="true" />
        </td>
      </tr>
      <tr>
        <td class="edit-td-title">房屋户型</td>
        <td class="edit-td-content">
          <input nz-input placeholder="房屋户型" [(ngModel)]="owner['Model']" [disabled]="true" />
        </td>
        <td class="edit-td-title">到期时间</td>
        <td class="edit-td-content">
          <nz-date-picker nzDisabled [(ngModel)]="owner['PropertyExpireDate']"></nz-date-picker>
        </td>
      </tr>
      <tr>
        <td class="edit-td-title">缴费版本</td>
        <td class="edit-td-content">
          <nz-select style="width:100%;" nzPlaceHolder="选择缴费版本" [(ngModel)]="data['ConfigId']"
            (ngModelChange)="onConfigChange()">
            <nz-option *ngFor="let config of configList" [nzLabel]="config['ConfigVersion']"
              [nzValue]="config['ConfigId']"></nz-option>
          </nz-select>
        </td>
        <td class="edit-td-title">缴费月数</td>
        <td class="edit-td-content">
          <nz-input-number [(ngModel)]="data['MonthCount']" [nzMin]="1" [nzMax]="100" [nzStep]="1"
            (ngModelChange)="calculateAmount()"></nz-input-number> <span style="color: red;">{{disCountText}}</span>
        </td>
      </tr>
      <tr>
        <td class="edit-td-title">费用单价</td>
        <td class="edit-td-content">
          <input style="width: 80px;" nz-input placeholder="费用单价" [(ngModel)]="data['UnitPrice']" [disabled]="true" />
          {{data['UnitName']}}
        </td>
        <td class="edit-td-title">应缴金额</td>
        <td class="edit-td-content">
          <input nz-input placeholder="应缴金额" [(ngModel)]="data['Amount']" [disabled]="true" />
        </td>
      </tr>
      <tr>
        <td class="edit-td-title">起始日期</td>
        <td class="edit-td-content">
          <nz-date-picker nzDisabled [(ngModel)]="data['StartDate']" (ngModelChange)="changeDate()"></nz-date-picker>
        </td>
        <td class="edit-td-title">结束日期</td>
        <td class="edit-td-content">
          <nz-date-picker nzDisabled [(ngModel)]="data['EndDate']"></nz-date-picker>
        </td>
      </tr>
      <tr>
        <td class="edit-td-title">收据号码</td>
        <td class="edit-td-content">
          <input nz-tooltip nzTooltipTrigger="null" nzTooltipPlacement="topLeft" [nzVisible]="errors['receipt']"
            nzTooltipTitle="收据号码输入错误" [class.error]="errors['receipt']" nz-input placeholder="收据号码"
            [(ngModel)]="data['ReceiptNo']" (ngModelChange)="checkValue($event, 'receipt')" />
        </td>
        <td class="edit-td-title">凭证号码</td>
        <td class="edit-td-content">
          <input nz-tooltip nzTooltipTrigger="null" nzTooltipPlacement="topLeft" [nzVisible]="errors['voucher']"
            nzTooltipTitle="凭证号码输入错误" [class.error]="errors['voucher']" nz-input placeholder="凭证号码"
            [(ngModel)]="data['VoucherNo']" (ngModelChange)="checkValue($event, 'voucher')" />
        </td>
      </tr>
      <tr>
        <td class="edit-td-title">缴费方式</td>
        <td class="edit-td-content">
          <nz-select style="width: 100%;;" nzPlaceHolder="选择缴费方式" [(ngModel)]="data['PayWay']">
            <nz-option nzLabel="现金支付" nzValue="现金支付"></nz-option>
            <nz-option nzLabel="刷卡支付" nzValue="刷卡支付"></nz-option>
            <nz-option nzLabel="微信支付" nzValue="微信支付"></nz-option>
            <nz-option nzLabel="支付宝支付" nzValue="支付宝支付"></nz-option>
            <nz-option nzLabel="其它支付" nzValue="其它支付"></nz-option>
          </nz-select>
        </td>
        <td class="edit-td-title">缴费状态</td>
        <td class="edit-td-content">
          <nz-switch [(ngModel)]="data['IsPay']" nzCheckedChildren="已缴费" nzUnCheckedChildren="未缴费"></nz-switch>
        </td>
      </tr>
      <tr>
        <td class="edit-td-title">备注</td>
        <td class="edit-td-content" colspan="3">
          <textarea rows="3" nz-input [(ngModel)]="data['Remark']"></textarea>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="edit-footer">
    <button nz-button (click)="cancel();" nzType="default">取 消</button>
    <button nz-button [nzLoading]="isLoading" (click)="handleOk();" nzType="primary">提 交</button>
  </div>
</div>
