<div class="list-title">房产管理</div>
<div class="list-search">
  <nz-select style="width:200px;" nzShowSearch nzAllowClear nzPlaceHolder="选择项目" [(ngModel)]="selectData['FkId']">
    <nz-option *ngFor="let estateItem of estatelist" [nzLabel]="estateItem['EstateName']"
      [nzValue]="estateItem['EstateId']"></nz-option>
  </nz-select>
  <div class="input-search">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" [(ngModel)]="selectData['KeyWord']" nz-input placeholder="关键字" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="search()"><i nz-icon nzType="search"></i></button>
    </ng-template>
  </div>
  <button nz-button nzType="primary" (click)="import()">批量导入业主</button>
</div>
<nz-table class="table-list" #headerTable [nzData]="datalist" [nzTotal]="TotalCount" [(nzPageIndex)]="PageIndex"
  [(nzPageSize)]="PageSize" [nzShowSizeChanger]="true" [nzPageSizeOptions]="[10, 15, 20]" [nzLoading]="isLoading"
  [nzBordered]="false" [nzFrontPagination]="false" (nzPageIndexChange)="getlist()" (nzPageSizeChange)="getlist()">
  <thead>
    <tr>
      <th nzShowExpand nzWidth="50px"></th>
      <th nzAlign="center" nzWidth="50px">序号</th>
      <th nzAlign="center" nzWidth="100px">项目名称</th>
      <th nzAlign="center" nzWidth="80px">房号</th>
      <th nzAlign="center" nzWidth="100px">业主姓名</th>
      <th nzAlign="center" nzWidth="100px">常主人姓名</th>
      <th nzAlign="center" nzWidth="100px">户型</th>
      <th nzAlign="center" nzWidth="80px">建筑面积</th>
      <th nzAlign="center" nzWidth="100px">联系电话</th>
      <th nzAlign="center" nzWidth="100px">物业到期日期</th>
      <th nzAlign="center">处理</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="headerTable.data" let-index="index">
      <tr (dblclick)="addEdit(index)">
        <td nzShowExpand [(nzExpand)]="mapOfExpandData[data['owner']['OwnerId']]"></td>
        <td nzAlign="center">{{(PageIndex - 1) * PageSize + index + 1}}</td>
        <td nzAlign="center"><div class="remark" style="width: 100px;" nz-tooltip [nzTooltipTitle]="data['EstateName']">{{data['EstateName']}}</div></td>
        <td nzAlign="center">{{data['HouseNo']}}</td>
        <td nzAlign="center">{{data['owner']['OwnerName']}}</td>
        <td nzAlign="center"><div class="remark" style="width: 100px;" nz-tooltip [nzTooltipTitle]="data['owner']['CheckInName']">{{data['owner']['CheckInName']}}</div></td>
        <td nzAlign="center">{{data['Model']}}</td>
        <td nzAlign="center">{{data['Floorage']}}</td>
        <td nzAlign="center">{{data['owner']['Phone']}}</td>
        <td nzAlign="center">{{data['owner']['PropertyExpireDate'] | date:'yyyy-MM-dd'}}</td>
        <td nzAlign="center">
          <a (click)="addEdit(index)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(data['owner']['OwnerId'])"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
        </td>
      </tr>
      <tr [nzExpand]="mapOfExpandData[data['owner']['OwnerId']]">
        <td></td>
        <td colspan="11">
          <table class="table-list-expand">
            <tr>
              <td class="table-list-expand-title">常住人口</td>
              <td class="table-list-expand-content">
                <div *ngFor="let people of data['owner']['FamilyList'];">
                  <h6>姓名：</h6><span>{{people['PeopleName']}}</span>
                  <h6>性别：</h6><span>{{people['Sex']}}</span>
                  <h6>与业主关系：</h6><span>{{people['Relation']}}</span>
                  <h6>联系电话：</h6><span>{{people['Phone']}}</span>
                  <h6>备注：</h6><span>{{people['Remark']}}</span>
                </div>
              </td>
            </tr>
            <tr>
              <td class="table-list-expand-title">车辆信息</td>
              <td class="table-list-expand-content">
                <div *ngFor="let car of data['owner']['CarList'];">
                  <h6>车牌：</h6><span>{{car['CarNumber']}}</span>
                  <h6>品牌：</h6><span>{{car['Brand']}}</span>
                  <h6>型号：</h6><span>{{car['Model']}}</span>
                  <h6>停车费到期：</h6><span *ngIf="!car['ParkingExpireDate']">从未缴纳</span><span *ngIf="car['ParkingExpireDate']">{{car['ParkingExpireDate'] | date:'yyyy-MM-dd'}}</span>
                  <h6>备注：</h6><span>{{car['Remark']}}</span>
                </div>
              </td>
            </tr>
            <tr>
              <td class="table-list-expand-title">身份证号</td>
              <td class="table-list-expand-content">{{data['owner']['CardId']}}</td>
            </tr>
            <tr>
              <td class="table-list-expand-title">单位/职业</td>
              <td class="table-list-expand-content">{{data['owner']['Occupation']}}</td>
            </tr>
            <tr>
              <td class="table-list-expand-title">交房日期</td>
              <td class="table-list-expand-content">{{data['owner']['HandDate'] | date:'yyyy-MM-dd'}}</td>
            </tr>
            <tr>
              <td class="table-list-expand-title">装修日期</td>
              <td class="table-list-expand-content">{{data['owner']['RenovationDate'] | date:'yyyy-MM-dd'}}</td>
            </tr>
            <tr>
              <td class="table-list-expand-title">入住日期</td>
              <td class="table-list-expand-content">{{data['owner']['CheckInDate'] | date:'yyyy-MM-dd'}}</td>
            </tr>
            <tr>
              <td class="table-list-expand-title">物业起始日期</td>
              <td class="table-list-expand-content">{{data['owner']['PropertyStartDate'] | date:'yyyy-MM-dd'}}</td>
            </tr>
            <tr>
              <td class="table-list-expand-title">使用信息</td>
              <td class="table-list-expand-content">{{data['owner']['UseInfo']}}</td>
            </tr>
            <tr>
              <td class="table-list-expand-title">备　　注</td>
              <td class="table-list-expand-content">{{data['owner']['Remark']}}</td>
            </tr>
          </table>
        </td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>
