<div [style.max-height]="divHeight" style="overflow-y: auto;">
  <table class="edit-table">
    <tbody>
      <tr>
        <td class="edit-td-title">项目名称</td>
        <td class="edit-td-content">
          <nz-select style="width:100%;" nzShowSearch nzAllowClear nzPlaceHolder="选择项目" [(ngModel)]="data['EstateId']">
            <nz-option *ngFor="let estateItem of estateList" [nzLabel]="estateItem['EstateName']"
              [nzValue]="estateItem['EstateId']"></nz-option>
          </nz-select>
        </td>
        <td class="edit-td-title">所处栋数</td>
        <td class="edit-td-content">
          <nz-input-number [(ngModel)]="data['Building']" (ngModelChange)="changeHouseNo()" [nzMin]="1" [nzMax]="100"
            [nzStep]="1"></nz-input-number>
        </td>
      </tr>
      <tr>
        <td class="edit-td-title">所在单元</td>
        <td class="edit-td-content">
          <nz-input-number [(ngModel)]="data['Unit']" (ngModelChange)="changeHouseNo()" [nzMin]="1" [nzMax]="100"
            [nzStep]="1"></nz-input-number>
        </td>
        <td class="edit-td-title">所在楼层</td>
        <td class="edit-td-content">
          <nz-input-number [(ngModel)]="data['Floor']" (ngModelChange)="changeHouseNo()" [nzMin]="1" [nzMax]="100"
            [nzStep]="1"></nz-input-number>
        </td>
      </tr>
      <tr>
        <td class="edit-td-title">所处房号</td>
        <td class="edit-td-content">
          <nz-input-number [(ngModel)]="data['No']" (ngModelChange)="changeHouseNo()" [nzMin]="1" [nzMax]="100"
            [nzStep]="1"></nz-input-number>
        </td>
        <td class="edit-td-title">房屋房号</td>
        <td class="edit-td-content">
          <input nz-input placeholder="房屋房号" [(ngModel)]="data['HouseNo']" />
        </td>
      </tr>
      <tr>
        <td class="edit-td-title">房屋类型</td>
        <td class="edit-td-content">
          <nz-select style="width:100%;" nzPlaceHolder="房屋类型" [(ngModel)]="data['HouseType']">
            <nz-option nzLabel="住宅" nzValue="住宅"></nz-option>
            <nz-option nzLabel="产业房" nzValue="产业房"></nz-option>
          </nz-select>
        </td>
        <td class="edit-td-title">房屋结构</td>
        <td class="edit-td-content">
          <nz-select style="width:100%;" nzPlaceHolder="房屋结构" [(ngModel)]="data['Structure']">
            <nz-option nzLabel="钢筋混泥土" nzValue="钢筋混泥土"></nz-option>
            <nz-option nzLabel="其它" nzValue="其它"></nz-option>
          </nz-select>
        </td>
      </tr>
      <tr>
        <td class="edit-td-title">房屋户型</td>
        <td class="edit-td-content">
          <input nz-input placeholder="房屋户型" [(ngModel)]="data['Model']" />
        </td>
        <td class="edit-td-title">建筑面积</td>
        <td class="edit-td-content">
          <input nz-input placeholder="建筑面积" [(ngModel)]="data['Floorage']" />
        </td>
      </tr>
      <tr>
        <td class="edit-td-title">是否安置</td>
        <td class="edit-td-content">
          <nz-switch [(ngModel)]="data['IsPlace']" nzCheckedChildren="是" nzUnCheckedChildren="否"></nz-switch>
        </td>
        <td class="edit-td-title">空置状态</td>
        <td class="edit-td-content">
          <nz-switch [(ngModel)]="data['EmptyState']" nzCheckedChildren="是" nzUnCheckedChildren="否"></nz-switch>
        </td>
      </tr>
      <tr>
        <td class="edit-td-title">联系电话</td>
        <td class="edit-td-content">
          <input nz-tooltip nzTooltipTrigger="null" nzTooltipPlacement="topLeft" [nzVisible]="errors['phone']"
            nzTooltipTitle="联系电话输入错误" [class.error]="errors['phone']" nz-input placeholder="联系电话"
            [(ngModel)]="data['ContactTel']" (ngModelChange)="checkValue($event, 'phone')" />
        </td>
        <td class="edit-td-title">其它电话</td>
        <td class="edit-td-content">
          <input nz-tooltip nzTooltipTrigger="null" nzTooltipPlacement="topLeft" [nzVisible]="errors['tel']"
            nzTooltipTitle="其它电话输入错误" [class.error]="errors['tel']" nz-input placeholder="其它电话"
            [(ngModel)]="data['ElseTel']" (ngModelChange)="checkValue($event, 'tel')" />
        </td>
      </tr>
      <tr>
        <td class="edit-td-title">接房日期</td>
        <td class="edit-td-content">
          <nz-date-picker [(ngModel)]="data['HandDate']"></nz-date-picker>
        </td>
        <td class="edit-td-title">房屋动态</td>
        <td class="edit-td-content">
          <input nz-input placeholder="房屋动态" [(ngModel)]="data['News']" />
        </td>
      </tr>
      <tr>
        <td class="edit-td-title">备注</td>
        <td class="edit-td-content" colspan="3">
          <textarea rows="3" nz-input [(ngModel)]="data['Remark']"></textarea>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="edit-footer">
    <button nz-button (click)="cancel();" nzType="default">取 消</button>
    <button nz-button [nzLoading]="isLoading" (click)="handleOk();" nzType="primary">提 交</button>
  </div>
</div>
