<div [style.max-height]="divHeight" style="overflow-y: auto;">
    <table class="edit-table">
        <tbody>
            <tr>
                <td class="edit-td-title">编号</td>
                <td class="edit-td-content">
                    <input nz-input placeholder="编号" [(ngModel)]="data['GoodsNo']" />
                </td>
                <td class="edit-td-title">名称</td>
                <td class="edit-td-content">
                    <input nz-input placeholder="名称" [(ngModel)]="data['GoodsName']" />
                </td>
            </tr>
            <tr>
                <td class="edit-td-title">分类</td>
                <td class="edit-td-content">
                    <nz-tree-select style="width: 100%;" [nzNodes]="category" nzPlaceHolder="请选择分类"
                        [(ngModel)]="data['CategoryId']">
                    </nz-tree-select>
                </td>
                <td class="edit-td-title">型号</td>
                <td class="edit-td-content">
                    <input nz-input placeholder="型号" [(ngModel)]="data['Model']" />
                </td>
            </tr>
            <tr>
                <td class="edit-td-title">单价</td>
                <td class="edit-td-content">
                    <input nz-input placeholder="单价" [(ngModel)]="data['UnitPrice']" />
                </td>
                <td class="edit-td-title">单位</td>
                <td class="edit-td-content">
                    <input nz-input placeholder="单位" [(ngModel)]="data['UnitName']" />
                </td>
            </tr>
        </tbody>
    </table>
    <div class="edit-footer">
        <button nz-button (click)="cancel();" nzType="default">取 消</button>
        <button nz-button [nzLoading]="isLoading" (click)="handleOk();" nzType="primary">提 交</button>
    </div>
</div>