<div class="list-title">物资管理</div>
<div class="list-search">
  <nz-tree-select style="width: 200px; margin-right: 10px;" [nzAllowClear]="true" [nzNodes]="category"
    nzPlaceHolder="请选择分类" [(ngModel)]="selectData['FkId']">
  </nz-tree-select>
  <div class="input-search">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" [(ngModel)]="selectData['KeyWord']" nz-input placeholder="关键字" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="search()"><i nz-icon nzType="search"></i></button>
    </ng-template>
  </div>
  <button nz-button nzType="primary" (click)="addEdit()">新增物资</button>
</div>
<nz-table class="table-list" #headerTable [nzData]="datalist" [nzTotal]="TotalCount" [(nzPageIndex)]="PageIndex"
  [(nzPageSize)]="PageSize" [nzShowSizeChanger]="true" [nzPageSizeOptions]="[10, 15, 20]" [nzLoading]="isLoading"
  [nzBordered]="false" [nzFrontPagination]="false" (nzPageIndexChange)="getlist()" (nzPageSizeChange)="getlist()">
  <thead>
    <tr>
      <th nzAlign="center" nzWidth="50px">序号</th>
      <th nzAlign="center" nzWidth="160px">物资编号</th>
      <th nzAlign="center" nzWidth="120px">物资名称</th>
      <th nzAlign="center" nzWidth="160px">物资分类</th>
      <th nzAlign="center" nzWidth="120px">型号</th>
      <th nzAlign="center" nzWidth="100px">单价</th>
      <th nzAlign="center">编辑</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of headerTable.data; let no = index;" (dblclick)="addEdit(no)">
      <td nzAlign="center">{{(PageIndex - 1) * PageSize + no + 1}}</td>
      <td nzAlign="center">{{item['GoodsNo']}}</td>
      <td nzAlign="center">{{item['GoodsName']}}</td>
      <td nzAlign="center">
        <div class="remark" style="width: 144px;" nz-tooltip [nzTooltipTitle]="categoryNames[item['CategoryId']]">
          {{categoryNames[item['CategoryId']]}}</div>
      </td>
      <td nzAlign="center">{{item['Model']}}</td>
      <td nzAlign="center">{{item['UnitPrice']}}{{item['UnitName']}}</td>
      <td nzAlign="center">
        <a (click)="addEdit(no)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="delete(item['GoodsId'])"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
      </td>
    </tr>
  </tbody>
</nz-table>